#circulo
{
  position: fixed; /*ajustado para o círculo não ficar no canto oposto da tela*/
  top: 80px;
  right: 20px;
  z-index: 9999; /*coloca o circulo preto em cima do outro circulo*/
}
  #botao_circulo
  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out; /*controla a transição de quando coloca o mouse por cima: tempo, quantos elementos, ease-in-out cria o fade-out*/
  }
  #botao_circulo img:first-child /*first child marca a primeira imagem da div círculo, no caso o clique aqui*/
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*para ajustar a posição da imagem dentro do círculo*/
    height: 25px;
    width: 49px;
    z-index: 2;
  }
  #botao_circulo img:last-child /*last child marca a segunda imagem da div círculo, no caso a lampada*/
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*para ajustar a posição da imagem dentro do círculo*/
    width: 35px;
    height: 40px;
    opacity: 0;
    transition: all 0.2s ease-in-out; /*controla a transição de quando coloca o mouse por cima: tempo, quantos elementos, ease-in-out cria o fade-out*/
    z-index: 1; /*posição para ficar abaixo do clique aqui*/
  }
  #botao_circulo:hover
  {
    background-color: green;
  }
  
  #botao_circulo:hover img:last-child
  {
    opacity: 1;
  }
  
  #botao_circulo:hover img:first-child
  {
    opacity: 0;
  }
  
#quadrado
{
    position: fixed;
    right: 86px;
    top: 71px;
    background-color: #000000;
    border-radius: 3px; /*para não deixar com pontas pontudas*/
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.5);
    display: none;
    text-align: center;
}
  #quadrado.show 
  {
    right: 70px; /*posição de onde o quadrado vai aparecer*/
  }
  #quadrado img 
  {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 8px 8px;
  }
  
  #quadrado p 
  {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    font-size: 0.8rem;
  }